<div class="section-profit-books container">
    <div class="row my-5  justify-content-between">
        <div class="col-md-6">
            <div class="row">
                <div class="col-6"><img class="w-100" src="{{ first_book_image }}" alt=""></div>
                <div class="col-4 relative-position">
                    <div class="absolute-text">
                        <h5 class="blue-text bold-800">{{ first_book_title }}</h5>
                        <button class="btn btn-hover2 px-3 py-2 bold-800">
                            <a href="{{ first_book_link }}">Download</a>
                        </button>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-6">
                    <img class="w-100 relative-position" src="{{ second_book_image }}" alt="">
                </div>
                <div class="col-4 relative-position">
                    <div class="absolute-text">
                        <h5 class="blue-text bold-800">{{ second_book_title }}</h5>
                        <button class="btn btn-hover2 px-3 py-2 bold-800">
                            <a href="{{ second_book_link }}">Download</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>