<div class="section-center-loop-description container">
    <div class="container section-4">
        <div class="row my-5 px-3 px-md-0 container-position align-items-center">
            <div class="col-md-6 {{ animation_loop }}">
                <img class="w-100" src="{{ stylesheet_directory_uri }}/assets//magnifier.png" alt="">
                <h2 class="text-position blue-text loop-text">{{ loop_content|raw }}</h2>
            </div>
            <div class="col-md-6 mt-4 mt-md-0 {{ animation_content }}">
                <h2 class="blue-text">{{ center_loop_title }}</h2>
                <p class="blue-text">{{ center_loop_content }}</p>
                <button class="btn btn-hover2 bold-800 py-2 px-3">
                    {{ center_loop_button }}
                </button>
            </div>
        </div>
    </div>
</div>