<div class="section-profit-roadmap d-none d-md-block">
    <div class="container py-5 px-4 px-md-0">
        <h2>{{ roadmap_title }}</h2>
        <p>{{ roadmap_text }}</p>
    </div>
    <div class="container">
        <div class="row">
            <img src="{{ roadmap_image }}" alt="">
            <div class="row">
                <div class="col-md-3 position-relative {{ animation }}">
                    <div class="position-absolute bottom-100">
                        <h5 class="green-text"><span class="underline-text">{{ roadmap_first_title }}</span></h5>
                        <h6>{{ roadmap_first_text }}</h6>

                    </div>
                </div>
                <div class="col-md-3 {{ animation}} ">
                    <h5 class="green-text"><span class="underline-text">{{ roadmap_second_title }}</span></h5>
                    <h6>{{ roadmap_second_text }}</h6>

                </div>
                <div class="col-md-3 position-relative {{ animation }}">
                    <div class="position-text-3">
                        <h5 class="green-text"><span class="underline-text">{{ roadmap_third_title }}</span></h5>
                        <h6>{{ roadmap_third_text }}</h6>

                    </div>
                </div>
                <div class="col-md-3 position-relative {{ animation }}">
                    <h6 class="position-absolute start-50">{{ roadmap_fourth_text }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-profit-roadmap d-md-none">
    <div class="container py-3 px-4 px-md-0">
        <h2>{{ roadmap_title }}</h2>
        <p>{{ roadmap_text }}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-5">
                <div class="">
                    <h5 class="green-text">01 <span class="underline-text">{{ roadmap_first_title }}</span></h5>
                    <h6>{{ roadmap_first_text }}</h6>
                </div>
            </div>
            <div class="col-md-3 mb-5 ">
                <h5 class="green-text"> 02 <span class="underline-text">{{ roadmap_second_title }}</span></h5>
                <h6>{{ roadmap_second_text }}</h6>
            </div>
            <div class="col-md-3 mb-5">
                <div class="">
                    <h5 class="green-text"> 03 <span class="underline-text">{{ roadmap_third_title }}</span></h5>
                    <h6>{{ roadmap_third_text }}</h6>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <h5 class="green-text">
                    04
                </h5>
                <h6 class="">{{ roadmap_fourth_text }}</h6>
            </div>
        </div>
    </div>
</div>