<div class="section-get-intouch container">
    <div class="row">
        <div class="col-6">
            <div class="col-12 mb-4">
                <img src="{{ stylesheet_directory_uri }}/assets/address-dark-blue.svg" alt="">
                <span>Address</span>
                <h6 class="mt-2">{{ address }}</h6>
            </div>
            <div class="col-12 mb-4">
                <img src="{{ stylesheet_directory_uri }}/assets/phone-dark-blue.svg" alt="">
                <span>Phone</span>
                <h6 class="mt-2">{{ phone_number }}</h6>

            </div>
            <div class="col-12 mb-4">
                <img src="{{ stylesheet_directory_uri }}/assets/mail-dark-blue.svg" alt="">
                <span>Email</span>
                <h6 class="mt-2">{{ email }}</h6>

            </div>
            <div class="col-12 mb-4">
                <img src="{{ stylesheet_directory_uri }}/assets/follow-us-dark-blue.svg" alt="">
                <span>Follow us</span>
                <div class="row mt-2">
                    <div class="col-3">
                        <a href="{{ facebook }}">
                            <img src="{{ stylesheet_directory_uri }}/assets/fb.svg" alt="">
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="{{ linkedin }}">
                            <img src="{{ stylesheet_directory_uri }}/assets/linked in.svg" alt="">
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="{{ twitter }}">
                            <img src="{{ stylesheet_directory_uri }}/assets/twitter.svg" alt="">
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="{{ youtube }}">
                            <img src="{{ stylesheet_directory_uri }}/assets/youtube.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>