<div class="section-messy-data">
    <div class="col-6 how-it-works {{ heading_image_animation }}">
        <img class="heading-img" src="{{ heading_image_url }}" alt="">
    </div>
    <div class="container card {{ animation_classes_one }}">

        <div class="row pt-5 pb-5">
            <div class="col-lg-6 col-md-12 center-slides px-md-5">
                <div class="slider single-item text-slides">
                    {% for text in text_slides %}
                        <div class="container-fluid">
                           <div class="row mb-5 align-items-center">
                               <h2 class="col-10">{{ text.title }} </h2>
                               <div class="col-2">
                                   <img class="w-100" src="{{ stylesheet_directory_uri }}/assets/magnifier.png" alt="">
                               </div>
                           </div>
                            <p class="bold-text ">{{ text.paragraph }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-12 mt-5 mt-lg-0 px-md-5">
                <div class="chart-background">
                    <img class="magnifier-img d-none" src="{{ stylesheet_directory_uri }}/assets/magnifier.png" alt="">

                    <div class="container ">

                        <div class="row">
                            <div class="col-12">
                                <canvas height="100" width="400" id="horizontal"></canvas>
                            </div>
                            <div class="col-4">
                                <canvas height="100" width="100" id="myChart"></canvas>
                            </div>
                            <div class="col-4">
                                <canvas height="100" width="100" id="myChart2"></canvas>
                            </div>
                            <div class="col-4">
                                <canvas height="100" width="100" id="myChart3"></canvas>
                            </div>
                            <div class="col-6">
                                <canvas height="50" width="50" id="vertical"></canvas>
                            </div>
                            <div class="col-6">
                                <canvas height="50" width="50" id="vertical2"></canvas>
                            </div>
                        </div>
                        <div class="row d-md-none">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
